%ui-base{
    background-color: cornflowerblue;
    padding: 4rem 0;
    text-align: center;
    font-size: 3rem;
}

.ui-header{
    @extend %ui-base;
    font-size: 4rem;
}

.ui-small-header{
    @extend %ui-base;
    font-size: 1rem;
    padding: 1rem;
}